#Set your project requirements here
#By default the current local ./manage.py --version of Django is installed automatically before any requirements

#A specific version of Django (as a pip install argument) can be set in settings DJANGO_REQUIREMENTS 
#For example to install the development version: DJANGO_REQUIREMENT='-e svn+http://code.djangoproject.com/svn/django/trunk/#egg=Django'
#To install your own local version: DJANGO_REQUIREMENT='file:///path/to/Django-1.2.1.tar.gz'
#Requirements files can be named in order of installation. Anything with req* will be treated as a requirement file
#eg requirements, req1, requirements2.txt ...

woven