#Set your project requirements here

#By default the current local ./manage.py --version of Django is installed automatically before any requirements

#Requirements files can be named in order of installation. Anything with req* will be treated as a requirement file
#eg requirements, req1, requirements2.txt ...

#Bundles with the same name as the requirements files and .zip extension will be used
#if they exist in the dist directory. See also the bundle management command.

{{ django }}